@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
body .me a {
  color: #9c88ff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
body .me a:hover {
  color: #7f6cdd;
}
body .warning {
  width: 19rem;
  background-color: white;
  text-align: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #bbb;
  position: absolute;
  top: 5vh;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
body .warning.on {
  opacity: 1;
}
@media screen and (min-width: 425px) {
  body .warning {
    width: 25rem;
  }
}
body .warning h1 {
  text-transform: uppercase;
}
body .warning p {
  margin: 0.8rem;
}
body .warning button {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
body .warning button:hover {
  background-color: #7f6cdd;
}
body .container {
  width: 350px;
}
body .container h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}
body .container h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
body .container h4 {
  margin: 0;
  text-transform: uppercase;
}
body .container .inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
body .container .inc-exp-container > div {
  flex: 1;
  text-align: center;
}
body .container .inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
body .container .inc-exp-container .money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
body .container .inc-exp-container .money.plus {
  color: #2ecc71;
}
body .container .inc-exp-container .money.minus {
  color: #c0392b;
}
body .container .transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
body .container .transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
body .container .transactions li.plus {
  border-right: 5px solid #2ecc71;
}
body .container .transactions li.minus {
  border-right: 5px solid #c0392b;
}
body .container .transactions li:hover .delete-btn {
  opacity: 1;
}
body .container .transactions .delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
body .container form label {
  display: inline-block;
  margin: 10px 0;
}
body .container form input[type=text],
body .container form input[type=number] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
body .container form input::-webkit-outer-spin-button,
body .container form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container form input[type=number] {
  -moz-appearance: textfield;
}
body .container form .btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
body .container form .btn:hover {
  background-color: #7f6cdd;
}
body .container .btn:focus,
body .container .delete-btn:focus,
body .container .warning-btn:focus {
  outline: 0;
}/*# sourceMappingURL=main.css.map */